<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Alpha-Blog</h1>
</div>

<div id="nav">
<%= link_to 'Home', root_path %><br>
</div>

<div id="section">
<h2>About</h2>
<p>About the Alpha-Blog. </p>
<p>This "Alpha-Blog" is my first rails application project that I have ever worked on.  I found this Ruby on Rails course on Udemy.com
  and it has been a great learning experience so far.  At this point in the project I'm guessing that this application will serve as a
  standard blog which accepts user registration, log-in/log-out, admins, categories, and the like.</p>
</div>


<div id="footer">
The Complete Ruby on Rails Developer Course
</div>

</body>
</html>